<template>
  <div class="card">
    <div class="card-body">
      <v-client-table :data="dataTable" :columns="columns2" :options="tableOptions">
        <!--a style="margin:0px 40px;" slot="afterFilterWrapper" @click="create()" class="btn btn-primary btn-big btn-add" data-toggle="modal" data-target="#form_model_crud" ><font-awesome-icon icon="plus" /></a-->
        <div slot="afterFilterWrapper" class="add-button-div float-right">
          <b-button class="add-button" v-b-modal.crud @click="create">
            <!--font-awesome-icon icon="plus" /-->
            <i class="fas fa-plus" />
          </b-button>
        </div>
        <template slot="actions" slot-scope="{ row }">
          <div>
            <div class="buttons" v-if="row.id !== 0">
              <b-button
                style="padding:0px 10px;font-size: 10px"
                v-b-modal.crud
                @click="edit(row.id)"
              >
                <font-awesome-icon icon="edit" />
              </b-button>
              <button
                style="padding:0px 10px;font-size: 10px"
                class="btn btn-sm"
                @click="destroy(row.id)"
              >
                <font-awesome-icon icon="trash" />
              </button>
            </div>
          </div>
        </template>
      </v-client-table>
    </div>

    <Formulario 
      v-if="referencia != 'nota' "
      :dataTable="dataTable"
      :schema="schema"
      :model="model"
      :criando="criando"
      :referencia="referencia"
      :path="path"
      @update:dataTable="index"
    />

  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { ClientTable, Event } from "vue-tables-2";
Vue.use(ClientTable, {}, false, "bootstrap4", {});

import { dom, library } from "@fortawesome/fontawesome-svg-core";
import { fas } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
library.add(fas);
Vue.component("font-awesome-icon", FontAwesomeIcon);
dom.watch();

import { BootstrapVue } from "bootstrap-vue";
Vue.use(BootstrapVue);

import Formulario from "./Formulario.vue";

export default {
  name: "crud",
  // Assets
  components: {
    Formulario,
  },
  directives: {},
  filters: {
    truncate    : (value, limit) => value ? (value.length > limit ? value.substring(0, limit - 3 )+'...' : value):value,
    monetario   : (value) => (typeof value !== "number") ? value :
      new Intl.NumberFormat('pt-BR', { currency: 'BRL', style: 'currency', minimumFractionDigits: 2, }).format(value)
  },
  // Composition
  mixins: [],
  extends: {},
  provide: {},
  inject: {},
  template: {},
  props: ["vue_options" ],
  // propsData: {},
  data() {
    return {
      referencia: JSON.parse(this.vue_options).referencia,
      dataTable: JSON.parse(this.vue_options).dataTable,
      path: JSON.parse(this.vue_options).path,
      columns2: ['name','email','created_at'],
      tableOptions: {
        texts: {
          limit: "Por Pagina:",
          filter: "Filtro:",
          filterPlaceholder: "Consulta",
          count:
            "Mostrando {from} até {to} de {count} registros|{count} Registros|Um registro",
          noResults: "Nenhum registro correspondente",
        },
        headings: {
          name: "Nome",
          created_at: "Criado",
          actions: "Ações",
        },

        //theme: "bootstrap4",
        template: {}, //"footerPagination",
        sortIcon: {
          base: "fa",
          is: "fa-sort",
          up: "fa-sort-asc",
          down: "fa-sort-desc",
        },
        //filterable:["name","email"],
        templates: {
          created_at: function(h, row) { return new Intl.DateTimeFormat('pt-BR',
            {
              year: '2-digit',
              month: 'numeric',
              day: 'numeric',
              hour: 'numeric',
              minute: 'numeric',
              timeZone:'America/Sao_Paulo',
              //timeZone:'UTC',
            }).format(new Date(row.created_at))},
          isport:   function(h, row) {if(row.isport!== 0)      return row.isport ? 'Sim': 'Não'},
          venda:  function(h, row) { if(row.venda!== null) return new Intl.NumberFormat('pt-BR', { currency: 'BRL', style: 'currency', minimumFractionDigits: 2, }).format(row.venda) },
        },
        rowClassCallback: function (row) {
          return "test";
        },
        perPage: 10,
        perPageValues: [5, 10, 25, 50, 100],
      },
      routes: require("./../../../routes/web.json"),
      schema: { fields : Vue.mounta_schema_json(require("./../../model_schemas/" + Vue.converte()[JSON.parse(this.vue_options).referencia] + ".json"))},
      //schema: require("./utils/" + JSON.parse(this.vue_options).referencia.charAt(0).toUpperCase() + JSON.parse(this.vue_options).referencia.slice(1) + ".json"),
      //schemagenerator: { fields: [] },
      model: {},
      criando: true,
    };
  },

  computed: { },
  watch: {},
  // Lifecycle Hooks
  beforeCreate() {},
  created() {
    //console.log(JSON.stringify(this.schema.fields))
    //console.log(JSON.stringify(this.dataTable))
    this.selects()
    this.columns2 = Vue.pluckIfIsTrue(this.schema.fields, 'model', 'inIndex')
    for(var i in this.columns2){
      var name = this.columns2[i]
      if(name.includes('_id') && this.dataTable.length > 0 ){
        if(this.dataTable[0].hasOwnProperty(name.substr(0,name.length-3)) && this.dataTable[0][name.substr(0,name.length-3)].hasOwnProperty("name")) this.columns2[i]=name.substr(0,name.length-3) + '.name';else
        if(this.dataTable[0].hasOwnProperty(name.substr(0,name.length-3)) && this.dataTable[0][name.substr(0,name.length-3)].hasOwnProperty("description")) this.columns2[i]=name.substr(0,name.length-3) + '.description';else
        if(this.dataTable[0].hasOwnProperty(name.substr(0,name.length-3)) && this.dataTable[0][name.substr(0,name.length-3)].hasOwnProperty("code")) this.columns2[i]=name.substr(0,name.length-3) + '.code';else
        if(this.dataTable[0].hasOwnProperty(name.substr(0,name.length-3)) && this.dataTable[0][name.substr(0,name.length-3)].hasOwnProperty("customerreference")) this.columns2[i]=name.substr(0,name.length-3) + '.customerreference';else
        if(this.dataTable[0].hasOwnProperty(name.substr(0,name.length-3)) && this.dataTable[0][name.substr(0,name.length-3)].hasOwnProperty("weight")) this.columns2[i]=name.substr(0,name.length-3) + '.weight';
      }
    }

    if (this.columns2.length > 0)
    {
      this.tableOptions.sortable= Object.assign([], this.columns2)
      this.columns2.push('actions')
    }
    //this.index();
  },
  beforeMount () {},
  mounted () {
    if (this.columns2.length > 2)
    $(
      "tr td:nth-child(" +
        this.columns2.length +
        "), tr th:nth-child(" +
        this.columns2.length +
        ")"
    ).css("width", "95px");
  },
  beforeUpdate () {},
  updated () { },
  activated () {},
  deactivated () {},
  beforeDestroy () {},
  destroyed () {},
  methods: {
    handleOk(bvModalEvt){
      this.criando 
      ? this.store(bvModalEvt) 
      : this.update(bvModalEvt)
    },
    
    index(){
      axios
        .get(
          //process.env.APP_URL + 
          'api/' +
          this.path
        )
        .then(({ data }) => {
          //console.log('index Response:'+ JSON.stringify(data))
          this.dataTable = Object.assign([], data)


          let dataTableInside =
            this.dataTable.length != 0 ? this.dataTable[0] : [];

          //delete dataTableInside.idempresa;
          //delete dataTableInside.ativo;

        })
        .catch((error) => {
          //if (error.response && error.response.data.status == "401") this.$router.push({ name: "logout" });

          if (error.response)
          switch (error.response.data.status) {
            case "401" : console.log('erro');//this.$router.push({ name: "logout" }); 
              break;
            //case "404" : this.$swal("Falha!", 'mais erro', "error"); break;
            //default : this.$swal("Falha!", error.message, "error");//console.log("index error:" + error.message);
          }
          
        });
    },
    create() {
      //$('#form_model_crud').modal('show')
      this.criando = true;
      this.model = {};
    },
    edit(data) {
      this.criando = false;
      const item = this.dataTable
        .filter((obj) => {
          return obj.id === data;
        })
        .pop();
      this._beforeEditingCache = Object.assign({}, item);
      this.errors = [];
      this.model = this._beforeEditingCache;
    },
    destroy(data) {
      let conf = confirm("Realmente deseja apagar?");
      if (conf !== null) {
        var index = this.dataTable.findIndex((x) => x.id === data);
        this.dataTable.splice(index, 1);

        let envio = {};
        envio[this.referencia] = Object.assign({}, { id: data });

        axios
          .delete(
            //process.env.APP_URL + 
            "api/" +
              this.path + "/" + data
          )
          .then((response) => {
            this.$notify({
              group: 'avisos',
              type: 'success',
              title: 'Registro de ' + this.referencia.charAt(0).toUpperCase() + this.referencia.slice(1)+ ' Apagado',
            });
            this.index(); // Atualizar dados com o servidor
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    converte(parameter){
      switch (parameter) {
        case 'expedidor': case 'consignee': case 'notify':
          return 'person'
          break;
        case 'placereceipt': case 'placedelivery':
          return 'place'
          break;
      
        default:
          break;
      }
    },
    selects(){
      var referencias = Vue.pluck(this.routes,'referencia')
      var paths = Vue.pluck(this.routes,'path')
      var fields = this.schema.fields
      var promises = []
      var founded = 0
      var indexs = []
      for(var indexField in fields){
        var name = fields[indexField]['model']
        if(name.includes('_id'))
        {
          var indexRoute=referencias.findIndex(x => x === name.substr(0,name.length-3) )
          if(indexRoute==-1) {var indexRoute=referencias.findIndex(x => x === this.converte(name.substr(0,name.length-3)) )}
          if(indexRoute!=-1){
            //console.log("Achou : " + this.schema.fields[indexField].model)
            indexs[founded]=indexField
            promises[founded] = axios
            .get(
              'api/' +
              paths[indexRoute]
            )
            founded += 1
          }
        }
      }


      Promise.all(promises)
            .then((responses) => {
              for(var indexResponse in responses)
              {
                var temp=this.columns2[indexs[indexResponse]]
                //console.log("carregou : " + this.schema.fields[indexs[indexResponse]].model + " Nome: " + temp.substr(temp.indexOf('.') +1 ,temp.length))
                Vue.set(this.schema.fields[indexs[indexResponse]], 'type', 'select' );
                Vue.set(this.schema.fields[indexs[indexResponse]], 'selectOptions', {"hideNoneSelectedText": true, "name": temp.substr(temp.indexOf('.') +1 ,temp.length) } );
                Vue.set(this.schema.fields[indexs[indexResponse]], 'values', responses[indexResponse].data );
              }
            })
            .catch((error) => {
              if (error.response)
              switch (error.response.data.status) {
                case "401" : console.log('erro');
                  break;
              }

            });
    }
  },
  // render: {},
  // renderError: {}
};
</script>

<style scoped >

tr div.buttons {
  display: none;
}
tr:hover div.buttons {
  display: block;
}

.add-button-div {
  display: flex;
  height: 100%;
  flex-flow: column;
}

.add-button {
  margin: auto;
  margin-left: 10px;
}
/*
tr td:nth-child(2) {
    min-width: 60px;
    max-width: 70px;
}*/

::v-deep .pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
z-index: 3;
color: #fff;
cursor: default;
background-color: #007bff;
border-color: #007bff;
}

</style>
