<template>
  <div>
    <b-modal
      size="xl"
      id="crud"
      :title="this.referencia.toUpperCase()"
      scrollable
      cancel-title="Cancelar"
      ok-title="Salvar"
      ok-variant="success"
      @ok="handleOk"
      @hidden="errors = null"
    >

    <div v-if="errors" class="bg-red text-white py-2 px-4 pr-0 rounded font-bold mb-4 shadow-lg">
      <div v-for="(v, k) in errors" :key="k">
        <b>{{ k }}:</b>
        <span v-for="error in v" :key="error" class="text-sm">
          {{ error }}
        </span>
      </div>
    </div>

      <vue-form-generator ref="vfg" :schema="schemagenerator" :model="modelInside" :options="formOptions" />
    </b-modal>
  </div>
</template>

<script>
import Vue from "vue";
import axios from "axios";

import { BootstrapVue } from "bootstrap-vue";
Vue.use(BootstrapVue);

//import datePicker from 'eonasdan-bootstrap-datetimepicker';
//import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';

import VueFormGenerator from "vue-form-generator";
Vue.use(VueFormGenerator);
//import 'vue-form-generator/dist/vfg.css'

//import { fieldDatetimepicker } from 'vue-bootstrap-datetimepicker';

export default {
  name: "formulario",
  // Assets
  components: {},
  directives: {},
  filters: {},
  // Composition
  mixins: [],
  extends: {},
  provide: {},
  inject: {},
  template: {},
  props: ['model', 'criando', 'dataTable', 'schema', 'referencia','path'],
  // propsData: {},
  data() {
    return {
      errors: null,
      modelInside: this.model,
      //referencia_rota : '',
      formOptions: {
        validateAfterLoad: false,
        validateAfterChanged: true
      },
      schemagenerator: this.schema,
      /*{ fields : Vue.mounta_schema_json(require("./../../model_schemas/" +
        this.referencia.charAt(0).toUpperCase() +
        this.referencia.slice(1) +
        ".json"))},*/
      //schemagenerator: { fields: [] },
      //model: {},
      //criando: true,
    };
  },

  computed: {},
  watch: {
    model: function () {
      this.atualizaModel()
    },
    criando : {
      immediate: true,
      handler: function () { this.atualizaModel() },
    },
  },
  // Lifecycle Hooks
  beforeCreate() {},
  created() {},
  beforeMount () {},
  mounted () {},
  beforeUpdate () {},
  updated () { },
  activated () {},
  deactivated () {},
  beforeDestroy () {},
  destroyed () {},
  methods: {
    atualizaModel () {
      if(this.criando) {
        this.errors = null;
        //if (this.schemagenerator.fields.length == 0 ) this.schemagenerator.fields = Vue.mounta_schema_json(this.schema);
        this.modelInside = VueFormGenerator.schema.createDefaultObject(this.schemagenerator);
        //console.log( JSON.stringify(this.modelInside) )
      }
      else
      this.modelInside = this.model;
      //console.log("Atualizado: " + JSON.stringify(this.schemagenerator))
    },
    handleOk(bvModalEvt){
      this.criando 
      ? this.store(bvModalEvt) 
      : this.update(bvModalEvt)
    },
    store(bvModalEvt) {
      bvModalEvt.preventDefault()
      let dataTableInside = this.dataTable;
      //var index = this.dataTable.findIndex(x => x.id === this.modelInside.id) // !!!!!! pode dar erro o novo pode não ter id definido
      //dataTableInside[index] = Object.assign({}, this.modelInside) // Não fica visivel

      this.modelInside.created_at='';
      Vue.set(dataTableInside, this.dataTable.length, this.modelInside)
      //dataTableInside = Object.assign([], dataTableInside) // Só para atualizar a tabela

      let envio = {};
      envio = Object.assign({}, this.modelInside);

      axios
        .post(
          "api/" +
          this.path,
          envio
        )
        .then((response) => {
          //console.log('Response:' + JSON.stringify(response.data))
          this.$notify({
            group: 'avisos',
            type: 'success',
            title: 'Registro de ' + this.referencia.charAt(0).toUpperCase() + this.referencia.slice(1)+ ' Criado',
          });
          this.$emit('update:dataTable', dataTableInside )
          
          this.$nextTick(() => {
            this.$bvModal.hide('crud')
          })

          this.$parent.index();
        })
        .catch((error) => {
          this.errors = error.response.data;
          console.log("Error:" + JSON.stringify(error.response));
          // console.log(JSON.stringify(error.response.data.message))
          // this.errors = [];
        });
    },
    update(bvModalEvt) {
      bvModalEvt.preventDefault()
      let dataTableInside = this.dataTable;
      var index = this.dataTable.findIndex((x) => x.id === this.modelInside.id);
      //dataTableInside[index] = Object.assign({}, this.modelInside) // Não fica visivel
      Vue.set(dataTableInside, index, this.modelInside)
      //this.dataTable = Object.assign([], this.dataTable); // Só para atualizar a tabela

      let envio = {};
      //envio.pessoa = Object.assign({},this.modelInside)
      envio = Object.assign({}, this.modelInside);

      axios
        .patch(
          "api/" +
          this.path + "/" + this.modelInside.id,
          envio
        )
        .then((response) => {
          //console.log('Response:' + JSON.stringify(response.data))
          
          this.$notify({
            group: 'avisos',
            type: 'success',
            title: 'Registro de ' + this.referencia.charAt(0).toUpperCase() + this.referencia.slice(1)+ ' Atualizado',
          });
          this.$emit('update:dataTable', dataTableInside )

          this.$nextTick(() => {
            this.$bvModal.hide('crud')
          })
        })
        .catch((error) => {
          // !!! Mudar o botão de Atualizar caso esteja validando
          this.errors = error.response.data;
          //console.log(this.$refs.vfg)
          console.log("Erro: " + JSON.stringify(error.response));
          //if (error.response.data.status == "401")
            //this.$router.push({ name: "logout" });
        });
    },
  },
  // render: {},
  // renderError: {}
};
</script>

<style lang="scss" scoped>

//@import "../../../node_modules/vue-form-generator/dist/vfg.css";

  ::v-deep .vue-form-generator .form-group {
    display: inline-block;
  }
</style>

<style lang="scss">
// @import '../../../node_modules/pikaday/css/pikaday.css';
  .modal-backdrop {
    opacity: 0.5 !important;
  }
</style>